@{
    ViewBag.Title = "About";
}

    <p style="padding-top: 3.8em"></p>

<h5>You can add patients, look for details, edit and delete</h5>
<h5>You can add doctors, look for details, edit, delete and what is quite nice you can display their harmonograms</h5>
<h5>You can add appointments, search by date and hour and delete</h5>
