@{
    ViewBag.Title = "Contact";
}


<p style="padding-top: 3.6em"></p>


<table>
    <tr>
        <td>Author:</td>
        <td>Jacek Dziurdzikowski</td>
    </tr>
    <tr>
        <td>Contact:</td>
        <td>jacek.dziurdzikowski@gmail.com</td>
    </tr>
</table>