@{
    ViewBag.Title = "Home Page";
}

<p style="padding-top: 1em"></p>

<h1>Welcome to Clinic Registry Managment System</h1>

<p style="padding-top: 1em"></p>

@Html.ActionLink("Add new patient profile", "CreateNew", "Patients", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Add new doctor profile", "CreateNew", "Doctors", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Add new appointment", "CreateNew", "Appointments", null, new { @class = "btn btn-primary" })




