@model Clinic_Registry.ViewModels.PatientsListViewModel
@{
    ViewBag.Title = "PatientsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of patients</h2>

@Html.ActionLink("Add new patient profile", "CreateNew", null, new { @class = "btn btn-primary"})
<p style="padding-top: 0.8em"></p>

<table id="patients" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>PESEL</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model.PatientsList)
        {
            <tr>
                <td>@patient.Name</td>
                <td>@patient.Pesel</td>
                <td>@Html.ActionLink("Details", "Details", new { id = patient.Id })</td>
            </tr>
        }
    </tbody>
</table>


@section scripts
    {
    <script>
        $(document).ready(function () {$("#patients").DataTable();})
    </script>

    }