
@{
    ViewBag.Title = "DoctorDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctor details</h2>

<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Adress</td>
            <td>@Model.Specialization.Name</td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td>@Model.PhoneNumber</td>
        </tr>
    </tbody>
</table>


@Html.ActionLink("Edit", "Edit", new { id = Model.Id })